.profile {
    flex: 1;
    display: flex;
    flex-direction: row;
  }
  .left {
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .about {
    margin-top: 360px;
    margin-left: 100px;
  }
  .lastName {
    color: #FFFFFF;
    font-size: 58px;
    font-weight: 500;
  }
  .devMobile {
    color: #FFFFFF;
    font-size: 38px;
    font-weight: 200;
  }
  .firstName {
    font-weight: 100;
  }
  
  .right {
    width: 50vw;
    height: 100vh;
  }
  
  .image {
    height: 100vh;
  }
  
  p {
    display: block;
    margin-block-start: auto;
    margin-block-end: auto;
  }

  .slogan {
    color: #FFFFFF;
    margin-top: 10px;
    font-size: 28px;
    font-family: 'Great Vibes', cursive;
    font-weight: 100;
    font-style: normal;
  }