@media only screen and (min-width: 991px) and (max-width: 1024px) {
	.about-content {
		padding-right: 0;
	}
	.single-counter {
		min-height: 175px;
	}
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
	.navbar-b.navbar-trans .nav-item, .navbar-b.navbar-reduce .nav-item {
		padding-right: 0;
	}
	.home-area .home-content h1 {
		font-size: 35px;
		line-height: 1.3;
	}
	.home-area .home-content p {
		font-size: 15px;
		line-height: 1.5;
	}
	.about-image {
		text-align: center;
	}
	.about-content {
		padding-right: 25px;
		padding-left: 20px;
		margin-top: 35px;
	}
	.services-item {
		margin-bottom: 30px;
	}
	.services-item:nth-last-child(-n + 2) {
			margin-bottom: 0px;
	}
	.counter-item {
		margin-bottom: 30px;
	}
	.counter-item:nth-last-child(-n + 2) {
		margin-bottom: 0px;
	}
	#project .project-list .nav li {
		margin: 0 5px 20px;
	}
	.contact-details {
		padding: 20px 0px;
	}
	.contact-details i {
		margin-right: 15px;
	}
	.lines {
		width: 90vw;
	}
	.lines .line:nth-child(2) {
	  display: none;
	}
	.lines .line:nth-child(3) {
	  display: none;
	}
}

@media only screen and (max-width: 767px) {
	.navbar-nav {
		margin-top: 15px;
	}
	.navbar-b .nav-item {
		margin-bottom: 10px;
	}
	.navbar-b .nav-item:last-child {
		margin-bottom: 0px;
	}
	.home-area {
		padding-top: 150px;
	}
	.home-area .home-content h1 {
		font-size: 33px;
		line-height: 1.3;
	}
	.home-area .home-content p {
		font-size: 15px;
		line-height: 1.3;
	}
	.about-image {
		text-align: center;
	}
	.about-content {
		padding-right: 0px;
		padding-left: 0px;
		margin-top: 35px;
	}
	.skill-box {
		margin-bottom: 50px !important;
	}
	.skill-box:last-child {
		margin-bottom: 0px !important;
	}
	.services-item {
		margin-bottom: 30px !important;
	}
	.services-item:last-child {
		margin-bottom: 0px !important;
	}
	.counter-item {
		margin-bottom: 30px;
	}
	.counter-item:last-child {
			margin-bottom: 0px;
	}
	#project .project-list .nav li {
		float: unset;
	}
	.lines .line:nth-child(2) {
	  display: none;
	}
	.lines .line:nth-child(3) {
	  display: none;
	}
}


@media only screen and (max-width: 479px) {
	.navbar-nav {
		margin-top: 15px;
	}
	.navbar-b .nav-item {
		margin-bottom: 10px;
	}
	.navbar-b .nav-item:last-child {
		margin-bottom: 0px;
	}
	.section-title h2 {
		font-size: 30px;
		line-height: 1.5;
	}
	.home-area {
		padding-top: 150px;
	}
	.home-area .home-content h1 {
		font-size: 28px;
		line-height: 1.3;
	}
	.home-area .home-content p {
		font-size: 15px;
		line-height: 1.5;
	}
	.home-area .social {
		display: none;
	}
	.about-image {
		text-align: center;
	}
	.about-content {
		padding-right: 0px;
		padding-left: 0px;
		margin-top: 35px;
	}
	.skill-box {
		margin-bottom: 50px !important;
	}
	.skill-box:last-child {
		margin-bottom: 0px !important;
	}
	.services-item {
		margin-bottom: 30px !important;
	}
	.services-item:last-child {
		margin-bottom: 0px !important;
	}
	.counter-item {
		margin-bottom: 30px;
	}
	.counter-item:last-child {
		margin-bottom: 0px;
	}
	#project .project-list .nav li {
		float: unset;
	}
	#project .project-list .nav li {
		margin: 0 5px 20px;
	}
	.contact-details {
		padding: 20px 0px;
	}
	.lines {
		width: 92vw;
	}
	.lines .line:nth-child(2) {
	  display: none;
	}
	.lines .line:nth-child(3) {
	  display: none;
	}

}


@media screen and (max-width: 320px) and (min-width: 0px){
	.navbar-nav {
		margin-top: 15px;
	}
	.navbar-b .nav-item {
		margin-bottom: 10px;
	}
	.navbar-b .nav-item:last-child {
		margin-bottom: 0px;
	}
	.section-title h2 {
		font-size: 30px;
		line-height: 1.5;
	}
	.home-area {
		padding-top: 150px;
	}
	.home-area .home-content h1 {
		font-size: 33px;
		line-height: 1.3;
	}
	.home-area .home-content p {
		font-size: 14px;
		line-height: 1.5;
	}
	.home-area .social {
		display: none;
	}
	.about-image {
		text-align: center;
	}
	.about-content {
		padding-right: 0px;
		padding-left: 0px;
		margin-top: 35px;
	}
	.skill-box {
		margin-bottom: 50px !important;
	}
	.skill-box:last-child {
		margin-bottom: 0px !important;
	}
	.services-item {
		margin-bottom: 30px !important;
	}
	.services-item:last-child {
		margin-bottom: 0px !important;
	}
	.counter-item {
		margin-bottom: 30px;
	}
	.counter-item:last-child {
		margin-bottom: 0px;
	}
	#project .project-list .nav li {
		float: unset;
	}
	#project .project-list .nav li {
		margin: 0 2px 20px;
	}
	.contact-details {
		padding: 20px 0px;
	}
	.lines {
		width: 92vw;
	}
	.lines .line:nth-child(2) {
	  display: none;
	}
	.lines .line:nth-child(3) {
	  display: none;
	}

}