.technoContainer {
    display: flex;
    flex-direction: row;
}

.technoText {
    color: white;
    width: 30vw;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textTechno {
    color: #FFFFFF;
    font-size: 57px;
    font-weight: 400;
}

.slider-container {
    width: 700vw; /* Largeur du cadre visible *//* Hauteur du cadre visible */
    overflow: hidden; /* Masque les images qui dépassent */
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .slider {
    display: flex;
    align-items: center;
    width: calc(100vw * 8); /* Largeur de toutes les images combinées */
    animation: slideOneByOne 18s linear infinite;
    
  }
  
  .slide {
    flex: 0 0 300px; /* Chaque image prend 300px de largeur */
  }
  
  .slide > img {
    width: 100px;
    height: 100px;
  }
  
  /* Animation des images qui défilent une par une */
  @keyframes slideOneByOne {
    0% {
      transform: translateX(0);
    }
    12.5% {
      transform: translateX(-300px); /* Décalage d'une image */
    }
    25% {
      transform: translateX(-600px);
    }
    37.5% {
      transform: translateX(-900px);
    }
    50% {
      transform: translateX(-1200px);
    }
    62.5% {
      transform: translateX(-1500px);
    }
    75% {
      transform: translateX(-1800px);
    }
    87.5% {
      transform: translateX(-2100px);
    }
    100% {
      transform: translateX(-2400px); /* Retour à la première image */
    }
  }